/* The top sticky bar css */
#GeneralTopBarAsset {
    position: relative;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: calc(100% - 20px);
    height: 90px;
    background-color: rgb(66, 70, 77);
    border-radius: 15px;
    max-width: 550px;
    align-items: center;
}

#StickyBarAssetButton {
    font-family: 'Proxima Nova Bold';
    color: rgb(200, 200, 200);
    font-size: 1.2em;
    float: left;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0px;
    width: calc(50% - 7.5px);
    background-image: linear-gradient(to bottom right, #33CA9D, #638CF8);
    height: 80px;
    border-radius: 10px;
    border: 0px solid rgb(200, 200, 200);
    text-align: center;
}

#StickyBarAssetButton:hover {
    border-width: 3px;
}

/* The actual CSS for the assets themselves */
#assetPanelAssetHolder {
    margin-left: 10px;
    margin-right: 10px;
    width: auto;
    justify-content: center;
    display: grid;
    grid-auto-rows: auto;
    grid-auto-columns: auto;
    grid-auto-flow: row;
    gap: 10px 10px;
    align-items: stretch;
    grid-template-columns: repeat(auto-fill,393px);
    
}

@media screen and (max-width: 1670px) {
    #assetPanelAssetHolder {
        grid-template-columns: repeat(auto-fill,minmax(250px, 1fr));
    }
}

@media screen and (max-width: 1696px) and (min-width: 1670px){
    #assetPanelAssetHolder {
        grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    }
}

@media screen and (max-width: 1987px) and (min-width: 1696px){
    #assetPanelAssetHolder {
        grid-template-columns: repeat(auto-fill,minmax(320px,1fr));
    }
}

.viewableAsset {
    white-space: nowrap;
    border-radius: 10px;
    background-color: rgb(66, 70, 77);
    min-width: 250px;
    min-height: 250px;
    aspect-ratio: 1;
    height: auto;
    max-width: 393px;
    max-height: 393px;
}

/* This is the CSS for the top bar of the asset pane */
.viewableAssetTopBar {
    border-radius: 10px;
    background-color: rgb(114, 118, 125);
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    text-align: center;
}

.viewableAssetTopBarConnect {
    font-family: 'Proxima Nova Bold';
    color: rgb(66, 70, 77);
    cursor: pointer;
    font-size: 16px;
    float: right;
    border-radius: 0px;
    border-width: 0px;
    padding: 0px;
    background-color: #24c65b;
    position: relative;
    height: inherit;
    width: 84px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    line-height: 30px;
    user-select: none;
}

.viewableAssetTopBarConnect:hover {
    color: rgb(200, 200, 200);
}

.viewableAssetTopBarConnect:active {
    color: rgb(66, 70, 77);
}

.viewableAssetTopBarState {
    font-family: 'Proxima Nova Bold';
    color: rgb(66, 70, 77);
    user-select: none;
    font-size: 16px;
    float: right;
    background-color: #f9a12f;
    position: relative;
    height: inherit;
    width: 46px;
    border-radius: 0px;
    border-bottom-right-radius: 0px;
    text-align: center;
    line-height: 30px;
}

/* This is the CSS for the graph that will be on the asset panel */
.viewableAssetCommandGraph {
    border-radius: 10px;
    background-color: rgb(200, 200, 200);
    position: relative;
    margin-left: 5px;
    margin-top: 5px;
    height: 12%;
    width: calc(100% - 10px);
}

.viewableAssetCommandGraphLog {
    text-align: left;
    float: left;
    padding: 5px;
    box-sizing: border-box;
    font-size: 15px;
    position: relative;
    height: 100%;
    width: 60%;
    overflow: scroll;
    overflow-x: hidden;
    color: rgb(66, 70, 77);
}

.viewableAssetCommandGraphLog::-webkit-scrollbar {
    width: 0px;
    /* Remove scrollbar space */
}

/* CSS for the manual command construction */
.viewableAssetCommandConstruction {
    border-radius: 10px;
    background-color: rgb(114, 118, 125);
    position: relative;
    margin-left: 5px;
    margin-top: 5px;
    display: inline-block;
    width: calc(100% - 10px);
}

.viewableAssetCommandConstructionTypeSelect {
    float: left;
    text-align-last: center;
    border: 0px;
    border-radius: 7px;
    margin: 5px;
    margin-bottom: 0px;
    width: calc(100% - 10px);
    height: 30px;
    line-height: 30px;
    background-color: rgb(200, 200, 200);
    text-align: center;
    font-family: 'Proxima Nova Regular';
    font-size: 1em;
    color: rgb(66, 70, 77);
    padding: 0px;
}

.viewableAssetCommandConstructionColorPane {
    float: left;
    background-color: rgb(200, 200, 200);
    height: 60px;
    width: calc(100% - 10px);
    border-radius: 7px;
    margin: 5px;
    margin-bottom: 0px;
    display: flex;
    overflow: hidden;
}

.viewableAssetCommandConstructionColor {
    flex-grow: 1;
    cursor: pointer;
    float: left;
    user-select: none;
    font-size: small;
    font-family: 'Proxima Nova Regular';
    text-align: center;
    line-height: 60px;
    color: rgb(200, 200, 200);
    background-color: rgb(66, 70, 77);
    height: 60px;
}

.viewableAssetCommandConstructionColor input {
    position: relative;
    top: 100px;
}

.viewableAssetCommandConstructionModeSelect {
    float: left;
    text-align-last: center;
    border: 0px;
    border-radius: 7px 0px 0px 7px;
    margin: 5px;
    margin-bottom: 0px;
    margin-right: 0px;
    width: calc(50% - 5px);
    height: 28px;
    line-height: 27.5px;
    background-color: rgb(200, 200, 200);
    text-align: center;
    font-family: 'Proxima Nova Regular';
    font-size: 1em;
    color: rgb(66, 70, 77);
    padding: 0px;
}

.viewableAssetCommandConstructionDelay {
    float: left;
    border: 0px;
    border-radius: 0px 7px 7px 0px;
    margin: 5px;
    margin-left: 0px;
    margin-bottom: 0px;
    width: calc(50% - 5px);
    height: 28px;
    line-height: 27.5px;
    background-color: rgb(200, 200, 200);
    text-align: center;
    font-family: 'Proxima Nova Regular';
    font-size: 1em;
    color: rgb(66, 70, 77);
    padding: 0px;
}

.viewableAssetCommandConstructionGeneratedString {
    float: left;
    border: 0px;
    border-radius: 20px;
    margin: 5px;
    width: calc(100% - 10px - 60px - 5px);
    height: 28px;
    color: rgb(200, 200, 200);
    background-color: rgb(66, 70, 77);
    text-align: center;
    font-family: 'Proxima Nova Regular';
    font-size: 1em;
    padding: 0px;
}

/* Send button */
.viewableAssetCommandConstructionSend {
    float: left;
    margin: 5px;
    margin-left: 0px;
    border-radius: 15px;
    height: 28px;
    width: 60px;
    background-color: #0075ac;
    text-align: center;
    line-height: 60px;
    overflow: hidden;
    border: 3px solid #0075ac;
    fill: rgb(200, 200, 200);
}

.viewableAssetCommandConstructionSend:hover {
    border: 3px solid rgb(200, 200, 200);
}

.viewableAssetCommandConstructionSend:active {
    border: 3px solid #0075ac;
}

#viewableSlimCommandPlayIcon {
    display: block;
    height: 18px;
    width: 18px;
    margin-left: calc((100% - 18px) / 2);
    top: calc((100% - 18px) / 2);
}