#bottombar 
{
    vertical-align: baseline;
    bottom: 0;
    left: 0;
    position: absolute;
    font-size: .7em;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    height: 16px;
    color: rgb(144, 148, 155);
    background-color: rgb(32, 34, 37);
    
}

/* Generic button class for bottombar */
.bottomBarButton
{
    height: 16px;
    background-color: rgba(0, 0, 0, 0);
    border: 0px;
    color: rgb(144, 148, 155);
    font-family: 'Proxima Nova Regular';
    user-select: none;
    line-height: 12px;
    font-size: 11px;
    float: right;
    padding: 2px;
    user-select: none;
    cursor: pointer;
    margin-right: 5px;
}

.bottomBarButton:hover
{
    background-color: rgba(255, 255, 255, .1);
}

.bottomBarButton:active
{
    background-color: rgba(255, 255, 255, .2);
}

/* The button that displays the notifications */

/* The button that displays the update status */