/* The overall styling for the home content panel */
#HomeContentPanelHolder {
    margin: 10px;
    width: calc(100% - 20px);
    height: auto;
    justify-content: center;
    /*
    align-items: flex-end;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    column-count: 3;
    column-width: 393px;
    column-gap: 10px;

    display: grid;
    grid-gap: 10px 10px;
    grid-template-columns: repeat(auto-fill, 393px);
    grid-template-rows: min-content;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    */
    display: grid;
    grid-gap: 10px 10px;
    grid-template-columns: repeat(auto, 393px);
    grid-template-rows: auto;
    grid-template-areas:
        "log project project"
        "log settings settings"
        "log asset group"
        "log command command";
}

@media screen and (max-width: calc(200px + 160px + 25px + 20px + 1179px)) {
    #HomeContentPanelHolder {
        grid-template-areas:
            "log project"
            "log asset"
            "log group"
            "settings settings"
            "command command";
    }
}

@media screen and (max-width: calc(200px + 160px + 25px + 10px + 786px)) {
    #HomeContentPanelHolder {
        grid-template-areas:
            "project"
            "log"
            "settings"
            "asset"
            "group"
            "command";
    }
}

.grid-log {
    grid-area: log;
}

.grid-project {
    grid-area: project;
}

.grid-asset {
    grid-area: asset;
}

.grid-group {
    grid-area: group;
}

.grid-command {
    grid-area: command;
}

.grid-settings {
    grid-area: settings;
}

.extra {
    grid-area: extra;
}


/* The home buttons */
#GeneralTopBarHome {
    margin: auto;
    white-space: nowrap;
    width: 100%;
    height: 90px;
    background-color: rgb(66, 70, 77);
    border-radius: 15px;
    min-width: 393px;
}

#GeneralTopBarHomeProject {
    float: left;
    position: relative;
    margin: 5px;
    width: calc(100% - 10px);
    background-image: linear-gradient(to bottom right, #33CA9D, #638CF8);
    height: 80px;
    border-radius: 10px;
    text-align: center;
    line-height: 80px;
    font-size: x-large;
    overflow: hidden;
}

.GeneralTopBarHomeProjectButton {
    cursor: pointer;
    margin-right: 5px;
    margin-top: 5px;
    float: right;
    position: relative;
    height: 70px;
    width: 70px;
    padding: 0px;
    color: rgb(200, 200, 200);
    border: 3px solid rgb(66, 70, 77);
    background-color: rgb(66, 70, 77);
    border-radius: 10px;
}

.GeneralTopBarHomeProjectButton:hover {
    border-color: rgb(200, 200, 200);
}

.GeneralTopBarHomeProjectButton:active {
    border-color: rgb(66, 70, 77);
}

/* The Changelog styling */
#ChangelogHome {
    margin: auto;
    user-select: none;
    background-color: rgb(66, 70, 77);
    border-radius: 15px;
    width: 393px;
    min-height: 393px;
    height: 100%;
    overflow: hidden;
}

#ChangelogTextWrapper {
    position: relative;
    left: 0px;
    top: 0px;
    width: calc(100% - 18px);
    height: calc(100% - 130px - 9px);
}

#ChangelogText {
    position: absolute;
    left: 0px;
    top: 0px;
    word-wrap: normal;
    overflow: scroll;
    overflow-x: hidden;
    text-overflow: ellipsis;
    font-size: .9rem;
    font-family: "Proxima Nova Light";
    margin-bottom: 9px;
    margin-left: 9px;
    width: 100%;
    height: 100%;
    color: rgb(200, 200, 200);
}

#ChangelogText::-webkit-scrollbar {
    width: 5px;
}

#ChangelogText::-webkit-scrollbar-thumb {
    background-color: rgb(200, 200, 200);
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 2.5px;
}

#ChangelogIcon {
    display: block;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    font-family: 'Proxima Nova Extrabold';
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 130px;
    background-size: 100% 100%;
    background-image: linear-gradient(-45deg, #ffcc00, #ffab20, #ff8b36, #f66f48, #e35656);
    fill: rgb(200, 200, 200);

}

/* The Asset Sumamry */
.homeAssetSummary {
    border-radius: 15px;
    max-width: 796px;
}

.homeAssetSummaryTitle {
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-size: x-large;
    background-color: rgb(114, 118, 125);
    border-radius: 15px 15px 0px 0px;
    min-width: 393px;
    max-width: 796px;
}

#HomeAssetSummary {
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 0px 0px 15px 15px;
    min-height: 141px;
    height: calc(100% - 50px);
    min-width: 393px;
    max-width: 796px;
    background-color: rgb(66, 70, 77);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.HomePanelAssetSummary {
    cursor: pointer;
    z-index: 2;
    flex-shrink: 0;
    flex-grow: 0;
    user-select: none;
    position: relative;
    margin: 5px;
    border-radius: 15px;
    width: 131px;
    height: 131px;
    background-color: rgb(114, 118, 125);
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0);
    transition: border .1s ease-in-out;
    overflow: auto;
}

.HomePanelAssetSummary:hover {
    border: 2px solid rgb(200, 200, 200);
}

.HomePanelAssetSummaryName {
    margin: auto;
    margin-top: 5px;
    font-family: 'Proxima Nova Regular';
    line-height: 25px;
    text-align: center;
    border-radius: 15px;
    width: calc(100% - 10px);
    height: 25px;
    background-color: rgb(200, 200, 200);
    color: rgb(66, 70, 77);
}

.HomePanelAssetSummaryColor {
    float: left;
    position: relative;
    margin-left: 5px;
    margin-top: 5px;
    font-family: 'Proxima Nova Regular';
    line-height: 60px;
    text-align: center;
    border-radius: 15px;
    width: calc(50% - 7.5px);
    height: 60px;
    background-color: rgb(200, 200, 200);
    color: rgb(66, 70, 77);
}

.HomePanelAssetSummaryState {
    display: block;
    position: relative;
    margin-left: calc(50% - 7.5px + 10px);
    margin-top: 5px;
    font-family: 'Proxima Nova Bold';
    line-height: 60px;
    text-align: center;
    border-radius: 15px;
    width: calc(50% - 7.5px);
    height: 60px;
    background-color: #f9a12f;
    color: rgb(200, 200, 200);
}

.HomePanelAssetSummaryPortStatus {
    margin: auto;
    margin-top: 5px;
    font-family: 'Proxima Nova Regular';
    line-height: 25px;
    text-align: center;
    border-radius: 15px;
    width: calc(100% - 10px);
    height: 25px;
    color: rgb(200, 200, 200);
    background-color: rgb(66, 70, 77);
}


/* The Group Sumamry */
.homeGroupSummary {
    max-width: 796px;
    border-radius: 15px;
}

.homeGroupSummaryTitle {
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-size: x-large;
    background-color: rgb(114, 118, 125);
    border-radius: 15px 15px 0px 0px;
    min-width: 393px;
    max-width: 796px;
}

#HomeGroupSummary {
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 0px 0px 15px 15px;
    min-height: 141px;
    height: calc(100% - 50px);
    min-width: 393px;
    max-width: 796px;
    background-color: rgb(66, 70, 77);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.HomePanelGroupSummary {
    overflow: auto;
    cursor: pointer;
    z-index: 2;
    flex-shrink: 0;
    flex-grow: 0;
    user-select: none;
    position: relative;
    margin: 5px;
    border-radius: 15px;
    width: 131px;
    height: 131px;
    background-color: rgb(114, 118, 125);
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0);
    transition: border .1s ease-in-out;
}

.HomePanelGroupSummary:hover {
    border: 2px solid rgb(200, 200, 200);
}

.HomePanelGroupSummaryName {
    position: relative;
    margin: auto;
    margin-top: 5px;
    font-family: 'Proxima Nova Regular';
    line-height: 25px;
    text-align: center;
    border-radius: 15px;
    width: calc(100% - 10px);
    height: 25px;
    background-color: rgb(200, 200, 200);
    color: rgb(66, 70, 77);
}

.HomePanelGroupSummaryAssets {
    position: relative;
    margin-left: 5px;
    margin-top: 5px;
    font-family: 'Proxima Nova Regular';
    line-height: 60px;
    text-align: center;
    border-radius: 15px;
    width: calc(100% - 10px);
    height: 60px;
    font-size: x-large;
    color: rgb(200, 200, 200);
    background-color: rgb(66, 70, 77);
}


.HomePanelGroupSummaryState {
    position: relative;
    margin: auto;
    margin-top: 5px;
    font-family: 'Proxima Nova Bold';
    line-height: 25px;
    text-align: center;
    border-radius: 15px;
    width: 50%;
    height: 25px;
    background-color: #f9a12f;
    color: rgb(200, 200, 200);
}

/* The Command Sumamry */
.homeCommandSummary {
    overflow: hidden;
    border-radius: 15px;
    background-color: rgb(66, 70, 77);
}

.homeCommandSummaryTitle {
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-size: x-large;
    background-color: rgb(114, 118, 125);
    border-radius: 15px 15px 0px 0px;
    min-width: 393px;
}

#HomeCommandSummary {
    position: relative;
    padding-right: 5px;
    margin: 5px;
    min-height: 141px;
    max-height: 755px;
    min-width: 373px;
    background-color: rgb(66, 70, 77);
    overflow: scroll;
    overflow-x: hidden;
    justify-content: center;
}

#HomeCommandSummary::-webkit-scrollbar {
    width: 5px;
    background-color: rgb(66, 70, 77);
}

#HomeCommandSummary::-webkit-scrollbar-thumb {
    background-color: rgb(200, 200, 200);
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 2.5px;
}

.HomePanelCommandSummary {
    box-sizing: border-box;
    cursor: pointer;
    z-index: 2;
    flex-shrink: 0;
    flex-grow: 0;
    user-select: none;
    position: relative;
    margin-top: 5px;
    border-radius: 15px;
    width: 100%;
    height: 70px;
    background-color: rgb(114, 118, 125);
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0);
    transition: border .1s ease-in-out;
}

.HomePanelCommandSummary:hover {
    border: 2px solid rgb(200, 200, 200);
}

.HomePanelCommandSummaryName {
    float: left;
    margin-left: 5px;
    margin-top: 3px;
    margin-right: 3px;
    font-family: 'Proxima Nova Regular';
    line-height: 60px;
    text-align: center;
    border-radius: 15px;
    width: calc(100% - 136px);
    font-size: xx-large;
    height: 60px;
    background-color: rgb(200, 200, 200);
    color: rgb(66, 70, 77);
}

.HomePanelCommandSummaryColor {
    float: left;
    position: relative;
    margin-left: 5px;
    margin-top: 3px;
    font-family: 'Proxima Nova Regular';
    line-height: 60px;
    text-align: center;
    border-radius: 15px;
    width: 60px;
    height: 60px;
    background-color: rgb(200, 200, 200);
    color: rgb(66, 70, 77);
}

.HomePanelCommandSummaryState {
    float: left;
    display: block;
    position: relative;
    margin-top: 3px;
    margin-left: 3px;
    font-family: 'Proxima Nova Bold';
    line-height: 60px;
    text-align: center;
    border-radius: 15px;
    width: 60px;
    height: 60px;
    background-color: #e35656;
    color: rgb(200, 200, 200);
}

/* The Settings Window */
.homeSettings {
    max-height: 796px;
    height: 100%;
    border-radius: 15px;
    background-color: rgb(66, 70, 77);
    font-family: 'Proxima Nova Regular';
    user-select: none;
}

.homeSettingsTitle {
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-size: x-large;
    color: rgb(66, 70, 77);
    background-color: rgb(200, 200, 200);
    border-radius: 15px 15px 0px 0px;
    min-width: 393px;
    font-family: 'Proxima Nova SemiBold';
}

.homeSettingsContentWrapper {
    margin: 9px;
    margin-top: 0px;
    position: relative;
    left: 0px;
    top: 0px;
    width: calc(100% - 18px);
    height: calc(100% - 40px - 9px);
}

.homeSettingsContent
{
    width: 100%;
    height: 100%;
}

.homeSettingsContent::-webkit-scrollbar {
    width: 5px;
}

.homeSettingsContent::-webkit-scrollbar-thumb {
    background-color: rgb(200, 200, 200);
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 2.5px;
}

.homeSettingsHeader
{
    width: 100%;
    margin-bottom: 5px;
    text-rendering: optimizeLegibility;
    text-align: center;
    font-family: 'Proxima Nova SemiBold';
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(91, 95, 102);
}

.homeSettingsBreak
{
    height: 5px;
    margin: 0px;
}

kbd
{
    float: right;
    padding-left: 3px;
    padding-right: 3px;
    text-align: center;
    font-family: 'Proxima Nova Light';
    background-color: rgb(114, 118, 125);
    color: rgb(200, 200, 200);
    border-radius: 5px;
}