/* General Button stuff for the left sidebar */
#sectionHeader
{
    position: relative;
    left: 0px;
    top: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 160px;
    min-width: 160px;
    height: auto;
}
.sectionbutton
{
    left: 0px;
    margin-top: 10px;
    position: relative;
    display: block;
    border: 0px;
    width: 100% - 10px;
    height: 25px;
    text-align: center;
    background-color: rgba(0,0,0,0);
    color: rgb(114, 118, 125);
}
.sectionbuttoncheck
{
    display: none;
    width: 0px;
    height: 0px;
}
.sectionimage
{
    fill: currentColor;
    position: absolute;
    top: 0px;
    left: 15px;
    width: 25px;
    height: 25px;
    user-select: none;
}
.sectionbuttontext
{
    font-size: .9rem;
    bottom: 2px;
    user-select: none;
    position: absolute;
    left: 55px;
}
/* Home Section special CSS*/
#HomeTabLabel
{
    margin-top: 0px;
    border-left: 4px solid rgba(255, 255, 255,0);
}
#HomeTabLabel:hover, #HomeTabCheckbox:checked + #HomeTabLabel
{
    color: rgb(200, 200, 200) !important; 
    fill: rgb(200, 200, 200) !important; 
    border-left: 4px solid #24c65b;
}
#HomeTabCheckbox:active + #HomeTabLabel
{
    color: rgb(114, 118, 125) !important; 
    fill: rgb(114, 118, 125) !important; 
}
/* Stage Section special CSS*/
#StageTabLabel
{
    border-left: 4px solid rgba(255, 255, 255,0);
}
#StageTabLabel:hover, #StageTabCheckbox:checked + #StageTabLabel
{
    color: rgb(200, 200, 200) !important; 
    fill: rgb(200, 200, 200) !important; 
    border-left: 4px solid #00da97;
}
#StageTabCheckbox:active + #StageTabLabel
{
    color: rgb(114, 118, 125) !important; 
    fill: rgb(114, 118, 125) !important; 
}
/* Asset Section special CSS*/
#AssetTabLabel
{
    border-left: 4px solid rgba(255, 255, 255,0);
}
#AssetTabLabel:hover, #AssetTabCheckbox:checked + #AssetTabLabel
{
    color: rgb(200, 200, 200) !important; 
    fill: rgb(200, 200, 200) !important; 
    border-left: 4px solid #00eccc;
}
#AssetTabCheckbox:active + #AssetTabLabel
{
    color: rgb(114, 118, 125) !important; 
    fill: rgb(114, 118, 125) !important; 
}
/* Group Section special CSS*/
#GroupTabLabel
{
    border-left: 4px solid rgba(255, 255, 255,0);
}
#GroupTabLabel:hover, #GroupTabCheckbox:checked + #GroupTabLabel
{
    color: rgb(200, 200, 200) !important; 
    fill: rgb(200, 200, 200) !important; 
    border-left: 4px solid #00c3dd;
}
#GroupTabCheckbox:active + #GroupTabLabel
{
    color: rgb(114, 118, 125) !important; 
    fill: rgb(114, 118, 125) !important; 
}
/* Command Section special CSS*/
#CommandTabLabel
{
    border-left: 4px solid rgba(255, 255, 255,0);
}
#CommandTabLabel:hover, #CommandTabCheckbox:checked + #CommandTabLabel
{
    color: rgb(200, 200, 200) !important; 
    fill: rgb(200, 200, 200) !important; 
    border-left: 4px solid #0075ac;
}
#CommandTabCheckbox:active + #CommandTabLabel
{
    color: rgb(114, 118, 125) !important; 
    fill: rgb(114, 118, 125) !important; 
}
/* Mode Section special CSS*/
#ModeTabLabel
{
    border-left: 4px solid rgba(255, 255, 255,0);
}
#ModeTabLabel:hover, #ModeTabCheckbox:checked + #ModeTabLabel
{
    color: rgb(200, 200, 200) !important; 
    fill: rgb(200, 200, 200) !important; 
    border-left: 4px solid #00508b;
}
#ModeTabCheckbox:active + #ModeTabLabel
{
    color: rgb(114, 118, 125) !important; 
    fill: rgb(114, 118, 125) !important; 
}

/* Synamic part of the sidebar*/
.leftSidebarWrapper
{
    position: relative;
    height: calc(100% - 220px);
    top: 0px;
    left: 0px;
    overflow: hidden;
}
/* The CSS for the command viewer*/
.leftSidebarCommandViewer
{
    font-family: 'Proxima Nova Regular';
    user-select: none;
    bottom: 0px;
    left: 0px;
    position: absolute;
    margin: 5px;
    border-radius: 15px;
    min-width: 160px;
    width: calc(100% - 10px);
    height: 33%;
    max-height: 393px;
    background-color: rgb(114, 118, 125);
    color: rgb(200, 200, 200);
    overflow: hidden;
    transition: box-shadow .16s ease-out,
    transform .16s ease-out, height 350ms ease-in-out;
}
.leftSidebarCommandViewerCollapse
{
    position: relative;
    height: 30px;
    width: calc(100% - 5px);
    text-align: start;
    padding-left: 5px;
    line-height: 30px;
    transition: border-radius 350ms ease-in-out;

}
.leftSidebarCommandViewerCollapseButton
{
    font-family: 'Proxima Nova Regular';
    color: rgb(200, 200, 200);
    cursor: pointer;
    user-select: none;
    line-height: 25px;
    position: absolute;
    right: 2.5px;
    top: 2.5px;
    height: 25px;
    width: 50px;
    border-radius: 12.5px;
    border: 0px solid;
    background-color: rgb(49, 52, 57);
}
#leftSidebarCommandViewerCollapsible
{
    display: block;
    width: 100%;
    height: calc(100% - 70px); /*calc(100% - 60px)*/
    overflow: scroll;
    overflow-x: hidden;
    background-color: rgb(66, 70, 77);
}
#leftSidebarCommandViewerCollapsible::-webkit-scrollbar {
    width: 5px;
    background-color: rgb(66, 70, 77);
}
#leftSidebarCommandViewerCollapsible::-webkit-scrollbar-thumb {
    background-color: rgb(200, 200, 200);
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 2.5px;
}
.leftSidebarCommandViewerController
{
    overflow: hidden;
    bottom: 0px;
    height: 40px;
    transition: border-radius 350ms ease-in-out;
}
.leftSidebarCommandViewerControllerProgressHolder
{
    height: 10px;
    width: 100%;
}
.leftSidebarCommandViewerControllerOutsideProgress
{
    position: relative;
    width: 95%;
    margin-left: 2.5%;
    border-radius: 5px;
    overflow: hidden;
    height: 5px;
    top: 2.5px;
    background-color: rgb(49, 52, 57);
}
#leftSidebarCommandViewerControllerInsideProgress
{
    position: relative;
    height: 100%;
    width: 0%;
    float: left;
    background-color: rgb(200, 200, 200);
    border-radius: 5px;
}

.leftSidebarCommandViewerControllerOutsideButton
{
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0,0);
    padding: 0px;
    float: left;
    width: 35%;
    height: 30px;
    background-color: #0075ac;
    fill: rgb(200, 200, 200);
}
.leftSidebarCommandViewerControllerOutsideButtonIcon
{
    position: relative;
    padding: 0px;
    margin: calc((66.5px - 38px - 4px) /2);
    margin-top: calc((30px - 4px - 22px) / 2);
    margin-bottom: calc((30px - 4px - 22px) / 2);
    max-width: 38px;
    max-height: 22px;
}
.leftSidebarCommandViewerControllerInsideButton
{
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0,0);
    padding: 0px;
    float: left;
    width: 30%;
    height: 30px;
    background-color: #24c65b;
    fill: rgb(200, 200, 200);
}
.leftSidebarCommandViewerControllerInsideButtonIcon
{
    position: relative;
    padding: 0px;
    margin: auto;
    margin-top: calc((30px - 4px - 22px) / 2);
    margin-bottom: calc((30px - 4px - 22px) / 2);
    width: 22px;
    height: 22px;
}
.leftSidebarCommandViewerControllerInsideButton:hover , .leftSidebarCommandViewerControllerOutsideButton:hover 
{
    border: 2px solid rgb(200, 200, 200);
}
.leftSidebarCommandViewerControllerInsideButton:active , .leftSidebarCommandViewerControllerOutsideButton:active 
{
    border: 2px solid rgba(0, 0, 0,0);
}
/* The geneneral styling fot the microcommands */
.leftPanelCommandButton
{
    transform: translate3d(0,0,0);
    margin: auto;
    margin-top: 5px;
    cursor: pointer;
    position: relative;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0,0);
    padding: 0px;
    background-color: rgba(0, 0, 0,0);
    color: rgb(200, 200, 200);
    line-height: 24px;
    letter-spacing: normal;
    width: calc(100% - 10px);
    height: 24px;
    transition: border .1s ease-in-out;
    overflow: hidden;
}
.leftPanelCommandButton:hover
{
    background-color: rgb(200, 200, 200);
    border: 2px solid rgb(200, 200, 200);
}

.leftPanelCommandButton:active
{
    background-color: rgba(0, 0, 0,0);
    border: 2px solid rgba(0, 0, 0,0);
}

.leftPanelCommandButtonThumbnail
{
    line-height: 24px;
    float: left;
    text-align: center;
    position: relative;
    border-radius: 8px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: #e35656;
    height: 24px;
    width: 27%;
    box-sizing: border-box;
}

.leftPanelCommandButtonText
{
    text-align: center;
    line-height: 24px;
    display: block;
    margin-left: calc(27%);
    box-sizing: border-box;
    font-family: 'Proxima Nova Regular';
    padding-left: 2px;
    padding-right: 2px;
    text-overflow: ellipsis;
    word-break: break-all;
    overflow: hidden;
    position: relative;
    border-radius: 8px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: rgb(114, 118, 125);
    height: 24px;
    width: 73%;
}


/* CSS for the manual command construction */
.sidePanelCommandConstruction {
    border-radius: 10px;
    background-color: rgb(114, 118, 125);
    position: relative;
    margin-left: 5px;
    margin-top: 5px;
    display: inline-block;
    width: calc(100% - 10px);
}

.sidePanelCommandConstructionTypeSelect {
    float: left;
    text-align-last: center;
    border: 0px;
    border-radius: 7px;
    margin: 5px;
    margin-bottom: 0px;
    width: calc(100% - 10px);
    height: 30px;
    line-height: 30px;
    background-color: rgb(200, 200, 200);
    text-align: center;
    font-family: 'Proxima Nova Regular';
    font-size: 1em;
    color: rgb(66, 70, 77);
    padding: 0px;
}

.sidePanelCommandConstructionColorPane {
    float: left;
    background-color: rgb(200, 200, 200);
    height: 60px;
    width: calc(100% - 10px);
    border-radius: 7px;
    margin: 5px;
    margin-bottom: 0px;
    display: flex;
    overflow: hidden;
}

.sidePanelCommandConstructionColor {
    flex-grow: 1;
    cursor: pointer;
    float: left;
    user-select: none;
    font-size: small;
    font-family: 'Proxima Nova Regular';
    text-align: center;
    line-height: 60px;
    color: rgb(200, 200, 200);
    background-color: rgb(66, 70, 77);
    height: 60px;
}

.sidePanelCommandConstructionColor input {
    position: relative;
    top: 100px;
}

.sidePanelCommandConstructionModeSelect {
    float: left;
    text-align-last: center;
    border: 0px;
    border-radius: 7px;
    margin: 5px;
    margin-bottom: 0px;
    margin-right: 0px;
    width: calc(100% - 10px);
    height: 28px;
    line-height: 27.5px;
    background-color: rgb(200, 200, 200);
    text-align: center;
    font-family: 'Proxima Nova Regular';
    font-size: 1em;
    color: rgb(66, 70, 77);
    padding: 0px;
}

.sidePanelCommandConstructionDelay {
    float: left;
    border: 0px;
    border-radius: 7px;
    margin: 5px;
    margin-right: 0px;
    margin-bottom: 0px;
    width: calc(100% - 10px);
    height: 28px;
    line-height: 27.5px;
    background-color: rgb(200, 200, 200);
    text-align: center;
    font-family: 'Proxima Nova Regular';
    font-size: 1em;
    color: rgb(66, 70, 77);
    padding: 0px;
}

.sidePanelCommandConstructionGeneratedString {
    float: left;
    border: 0px;
    border-radius: 20px;
    margin: 5px;
    width: calc(100% - 10px);
    height: 28px;
    color: rgb(200, 200, 200);
    background-color: rgb(66, 70, 77);
    text-align: center;
    font-family: 'Proxima Nova Regular';
    font-size: 1em;
    padding: 0px;
}