/* Stylign for both sections as it stands */
.rightpanelbuttonholder
{
    color: rgb(114, 118, 125);
    text-align: center;
    min-height: 25%;
    max-height: 50%;
    user-select: none;
    overflow: scroll;
    overflow-x: hidden;
}

.rightpanelbuttonholder::-webkit-scrollbar {
    width: 5px;
    background-color: rgb(47, 49, 54);
}

.rightpanelbuttonholder::-webkit-scrollbar-thumb {
    background-color: rgb(200, 200, 200);
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 2.5px;
}

.RightPanelSectionHeader
{
    margin-top: 5px;
    margin-bottom: 0px;
    height: auto;
}

/* The geneneral styling fot the asset side button */
.rightPanelAssetButton
{
    transform: translate3d(0,0,0);
    margin: auto;
    margin-top: 5px;
    cursor: pointer;
    position: relative;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0,0);
    padding: 0px;
    background-color: rgba(0, 0, 0,0);
    color: rgb(200, 200, 200);
    line-height: 24px;
    letter-spacing: normal;
    width: calc(100% - 20px);
    height: 24px;
    transition: border .1s ease-in-out;
    overflow: hidden;
}
.rightPanelAssetButton:hover
{
    background-color: rgb(200, 200, 200);
    border: 2px solid rgb(200, 200, 200);
}

.rightPanelAssetButton:active
{
    background-color: rgba(0, 0, 0,0);
    border: 2px solid rgba(0, 0, 0,0);
}

.rightPanelAssetButtonThumbnail
{
    line-height: 24px;
    float: left;
    text-align: center;
    position: relative;
    border-radius: 8px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: #f9a12f;
    height: 24px;
    width: 33%;
    box-sizing: border-box;
}

.rightPanelAssetButtonText
{
    line-height: 24px;
    display: block;
    margin-left: calc(33%);
    box-sizing: border-box;
    font-family: 'Proxima Nova Regular';
    padding-left: 2px;
    padding-right: 2px;
    text-overflow: ellipsis;
    word-break: break-all;
    overflow: hidden;
    position: relative;
    border-radius: 8px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: rgb(114, 118, 125);
    height: 24px;
    width: 67%;
}

/* The geneneral styling fot the group side button */
.rightPanelGroupButton
{
    transform: translate3d(0,0,0);
    margin: auto;
    margin-top: 5px;
    cursor: pointer;
    position: relative;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0,0);
    padding: 0px;
    background-color: rgba(0, 0, 0,0);
    color: rgb(200, 200, 200);
    line-height: 24px;
    letter-spacing: normal;
    width: calc(100% - 20px);
    height: 24px;
    transition: border .1s ease-in-out;
    overflow: hidden;
}
.rightPanelGroupButton:hover
{
    background-color: rgb(200, 200, 200);
    border: 2px solid rgb(200, 200, 200);
}

.rightPanelGroupButton:active
{
    background-color: rgba(0, 0, 0,0);
    border: 2px solid rgba(0, 0, 0,0);
}

.rightPanelGroupButtonThumbnail
{
    line-height: 24px;
    float: left;
    text-align: center;
    position: relative;
    border-radius: 8px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: #f9a12f;
    height: 24px;
    width: 33%;
    box-sizing: border-box;
}

.rightPanelGroupButtonText
{
    line-height: 24px;
    display: block;
    margin-left: calc(33%);
    box-sizing: border-box;
    font-family: 'Proxima Nova Regular';
    padding-left: 2px;
    padding-right: 2px;
    text-overflow: ellipsis;
    word-break: break-all;
    overflow: hidden;
    position: relative;
    border-radius: 8px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: rgb(114, 118, 125);
    height: 24px;
    width: 67%;
}

/* The geneneral styling fot the group side button */
.rightPanelCommandButton
{
    transform: translate3d(0,0,0);
    margin: auto;
    margin-top: 5px;
    cursor: pointer;
    position: relative;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0,0);
    padding: 0px;
    background-color: rgba(0, 0, 0,0);
    color: rgb(200, 200, 200);
    line-height: 24px;
    letter-spacing: normal;
    width: calc(100% - 20px);
    height: 24px;
    transition: border .1s ease-in-out;
    overflow: hidden;
}
.rightPanelCommandButton:hover
{
    background-color: rgb(200, 200, 200);
    border: 2px solid rgb(200, 200, 200);
}

.rightPanelCommandButton:active
{
    background-color: rgba(0, 0, 0,0);
    border: 2px solid rgba(0, 0, 0,0);
}

.rightPanelCommandButtonThumbnail
{
    line-height: 24px;
    float: left;
    text-align: center;
    position: relative;
    border-radius: 8px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: #e35656;
    height: 24px;
    width: 33%;
    box-sizing: border-box;
}

.rightPanelCommandButtonText
{
    line-height: 24px;
    display: block;
    margin-left: calc(33%);
    box-sizing: border-box;
    font-family: 'Proxima Nova Regular';
    padding-left: 2px;
    padding-right: 2px;
    text-overflow: ellipsis;
    word-break: break-all;
    overflow: hidden;
    position: relative;
    border-radius: 8px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: rgb(114, 118, 125);
    height: 24px;
    width: 67%;
}
